*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#layout-container{
    display: grid;
    grid-template-areas: 
    'nav'
    'main'
    'footer'
    ;
}

nav{
    grid-area: nav;
    position: fixed;
}

main#content{
    grid-area: main;
}

nav#header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0.1px 0.1px 7px gray;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.2em;
}

nav#header > a{
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:hover, button#send:hover, button.contact:hover{
    background-color: rgb(204, 204, 204);
    color: black;
    cursor: pointer;
}

#header span{
    font-weight: 800;
}

#nav-links{
    word-spacing: 2em;
    display: flex;
}

#nav-links > a{
    color: black;
    text-decoration: none; 
    padding: 15px;
}

div#home{
    position: relative;
    text-align: center;
}

div#home div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #fff;
}

div#home div > span#pz{
    padding: 10px;
    font-weight: 800;
    background-color: rgba(10, 10, 10, 0.658);
}

img#background{
    width: 100%;
    height: auto;
}

section, div#smaller_background{
    width: 96%;
}

section#projects p{
    font-size: 1.2em;
    margin-bottom: 60px;
}

#projects{
    width: 96%;
    margin: 60px auto;
}

#project-tiles{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

#project-tiles > div{
    position: relative;
    flex: 24%;
}

div.project-name{
    position: absolute;
    top: 0;
    padding: 5px;
    color: white;
    background: black;
}

.flex-image{
    width: 100%;
    height: 15vw
}

section#about{
    margin: 40px auto;
}

section#about p:nth-of-type(1){
    font-size: 1.2em;
    margin-bottom: 40px;
}

section#about p:nth-of-type(2){
    font-size: 14px;
    line-height: 1.5em;
}

section#contact{
    margin: 0 auto 80px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 25%; 
    flex-direction: row;
    row-gap: 15px;
    justify-content: space-between;
}

p.name{
    margin-top: 15px;
    font-size: 1.1em;
}

p.title{
    margin: 20px 0;
    font-size: 0.90em;
    color: gray;
}

p.about-person{
    font-size: 0.9em;
    line-height: 1.3em;
    margin-bottom: 5px;
    width: 22vw;
}

button.contact{
    align-self: center;
    width: 100%;
    border: none;
    padding: 10px;
}

section#contact-form p:nth-of-type(1){
    font-size: 1.2em;
    margin-bottom: 40px;
}

form input{
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0;
    padding: 10px;
    border: solid 1px silver;
    border-radius: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.90em;
}

section#contact-form{
    margin: 0 auto;
}

div#smaller-background{
    margin: 0 auto;
    width: 96%;
}

button#send{
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    background-color: black;
    margin: 20px 0 60px 0;
    border: none;
}

div#smaller-background img{
    width: 100%;
    height: auto;
}

footer{
    width: 100%;
    grid-area: footer;
    height: 80px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}

#w3{
    color: #fff;
    text-decoration: underline;
}

#w3:hover{
    color: rgb(5, 209, 5);
    background: none;
}

@media only screen and (max-width: 1000px){       
    #project-tiles > div{
        flex: 48%;
    }
    
    .flex-image{
        height: 25vw;
    }
    
    section#contact{
        flex: 50%; 
    }
       
    p.about-person{
        width: 46vw;
    }
    
}

@media only screen and (max-width: 600px){
    div#nav-links{
        display: none;
    } 

    div#home div span:nth-of-type(2){
        display: none;
    }

    section#projects, section#about, section#contact-form, div#smaller-background{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #project-tiles{
        flex-direction: column;
    }
    
    .flex-image{
        height: 50vw;
    }
    
    section#contact{
        flex-direction: column;
        width: 90%;
        margin: 0 auto 80px auto;
        gap: 20px;
    }
    
    p.about-person{
        width: 100%;
    }
    
}